/* Estilo geral das notícias */
.news {
    display: flex;
    flex-direction: column; /* Layout em coluna: imagem em cima, texto embaixo */
    align-items: center; /* Centraliza horizontalmente */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
    cursor: pointer;
    width: 98%; /* Ocupa o espaço da célula da grid */
    padding: 10px; /* Espaçamento interno */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra leve */
    max-height: 400px;
}

.news:hover {
    transform: scale(1.025);
}

/* Imagem */
.news__image {
    width: 100%; /* Largura total do card */
    max-width: 250px; /* Limita o tamanho máximo da imagem */
    height: auto; /* Mantém proporção */
    aspect-ratio: 1 / 1; /* Garante que seja sempre quadrada */
    background-color: #e0e0e0; /* Fundo cinza para simular a imagem */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem; /* Tamanho do "I" */
    font-weight: bold;
    color: #000;
    border-radius: 4px; /* Borda arredondada */
    margin-bottom: 10px; /* Espaço entre a imagem e o conteúdo */
}

/* Conteúdo */
.news__content {
    text-align: center; /* Centraliza os textos no card */
}

/* Manchete */
.news__headline {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 5px;
}

/* Subtítulo */
.news__subtitle {
    font-size: 1rem;
    color: #666;
    text-align: justify;
    hyphens: auto;
}

.news__date {
    font-size: 0.9rem;
    color: #999;
    margin-top: 10px; /* Espaço superior */
}