<div class="grafica">
    <div class="grafica__container">
        <h2 class="grafica__title">Precisando de serviços Gráficos ou de Desenvolvimento?</h2>
    </div>
    <div class="grafica__images-container">
        <div class="grafica__overlay-images">
            <a href="https://wa.me/11914253315" target="_blank">
                <img class="grafica__image" src="assets/images/grafica1.png" alt="Grafica 1" />
                <img class="grafica__image" src="assets/images/grafica2.png" alt="Grafica 2" />
            </a>
        </div>
        <a href="https://www.bossawebsolutions.com.br/" target="_blank">
            <img class="grafica__image-bws" src="assets/images/bws.jpeg" alt="Bossa Web Solutions" />
        </a>
    </div>
</div>

