.grafica {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    text-align: left;
    padding: 20px;
}

.grafica__container {
    width: 100%;
    margin-bottom: 15px;
}

.grafica__title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #000;
    border-left: 5px solid #FFD700;
    padding-left: 10px;
    text-align: left;
}

.grafica__images-container {
    position: relative;
    width: 600px; /* Ajuste do tamanho */
    height: 500px; /* Ajuste do tamanho */
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
}

/* Imagens com transição rápida */
.grafica__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0; /* Começa invisível */
    transition: opacity 1s ease-in-out; /* Transição de 500ms */
}

/* Atraso para cada imagem */
.grafica__image:nth-child(1) {
    animation: changeImage 5s infinite; /* Ciclo de 5s para a primeira imagem */
}

.grafica__image:nth-child(2) {
    animation: changeImage 5s infinite 2.5s; /* Ciclo de 5s para a segunda imagem */
}

/* Animação para mudar as imagens de forma suave */
@keyframes changeImage {
    0%, 50% {
        opacity: 1; /* A imagem aparece completamente */
    }
    51%, 100% {
        opacity: 0; /* A imagem desaparece rapidamente */
    }
}
