.sobre {
    margin-top: 200px;
}

.sobre__content {
    display: flex;
    justify-content: center; /* Centraliza o conteúdo horizontalmente */
    align-items: center; /* Alinha o conteúdo no meio verticalmente */
    gap: 100px; /* Espaço entre o bloco central e a imagem */
}

.sobre__main {
    text-align: center; /* Centraliza o texto e as imagens no bloco principal */
}

.sobre__logo {
    display: flex;
    justify-content: flex-start; /* Centraliza as imagens dentro do bloco */
    align-items: center;
    gap: 30px; /* Espaçamento entre as logos */
}

.sobre__logo-image {
    height: 150px;
    width: auto;
}

.sobre__texto {
    margin-top: 20px;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.6;
    color: black;
    text-align: left;
    width: 100%;
}

.sobre__ad-image {
    width: 450px;
    height: auto; /* Mantém a proporção da imagem */
    flex-shrink: 0; /* Garante que a imagem não diminua */
    margin-left: 80px; /* Aumenta o espaçamento para a direita */
}

.sobre__adds {
    margin-top: 20px; /* Espaçamento acima do app-adds */
    text-align: center; /* Centraliza o app-adds */
}
