<div class="sobre">
    <div class="sobre__content">
        <div class="sobre__main">
            <div class="sobre__logo">
                <img src="assets/images/logo-jj.png" alt="Logo" class="sobre__logo-image">
                <img src="assets/images/logo-jj-text.png" alt="Logo" class="sobre__logo-image">
            </div>
            <p class="sobre__texto">
                O Jornal de Jundiapeba é uma publicação da Soares Comunicações Ltda.<br>
                Começamos nossa jornada em 2005.<br>
                Em 2019 encerramos a edição impressa do jornal, dedicando-nos somente na edição digital.<br>
                Estamos situados à Avenida Presidente Altino Arantes, 217 Centro de Jundiapeba – Mogi das Cruzes – SP.<br>
                Contato: (11)93489.4052
            </p>
        </div>
        <img src="assets/images/anuncieAqui.jpg" alt="Anuncie Conosco" class="sobre__ad-image" />
    </div>
    <app-adds class="sobre__adds"></app-adds>
</div>