.sobre {
    margin-top: 15rem;
}

.sobre__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
}

.sobre__main {
    text-align: center;
}

.sobre__logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
}

.sobre__logo-image {
    height: 10rem;
    width: auto;
}

.sobre__texto {
    margin-top: 2rem;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.6;
    color: black;
    text-align: left;
    width: 100%;
}

.sobre__ad-image {
    width: 30rem;
    height: auto;
    flex-shrink: 0;
    margin-left: 8rem;
}

.sobre__adds {
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}
