.noticia-categoria {
    margin-top: 200px;
}

.noticia-categoria__title-container {
    margin-bottom: 50px;
    margin-left: 20px;
  }
  
  /* Título das seções */
  .noticia-categoria__title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #000;
    border-left: 5px solid #FFD700; /* Destaque com borda amarela */
    padding-left: 10px;
  }

  .noticia-categoria__thumbnails {
    display: flex;
    flex-wrap: wrap; /* Permite que os elementos quebrem linha */
    gap: 20px; /* Espaçamento entre os elementos */
    margin-bottom: 50px;
    justify-content: center;
}
